<a href="{{site.link}}" target="_blank">
  <mat-card class="site-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="site-header-image" src="../../../assets/images/logos/{{site.logoImageSrc}}" alt="{{site.logoImageAlt}}">
      </div>
      <mat-card-title>{{site.title}}</mat-card-title>
      <mat-card-subtitle>{{site.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/sitePreviews/{{site.imageSrc}}" alt="{{site.imageAlt}}">
    <mat-card-content>
      <p>{{site.description}}</p>
    </mat-card-content>
  </mat-card>
</a>